name: CI
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.**'
      - 'README.md'
      - 'LICENSE'
env:
  PYTHON_VERSION: 3.10
jobs:
  validate-mappings:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python $PYTHON_VERSION
      uses: actions/setup-python@v2
      with:
        python-version: $PYTHON_VERSION
    - name: Download schema
      run: wget -O custom_mappings_schema.json https://raw.githubusercontent.com/RickDB/PlexAniSync/master/custom_mappings_schema.json
    - name: Validate mappings
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python validate.py
  sort-mappings:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python $PYTHON_VERSION
      uses: actions/setup-python@v2
      with:
        python-version: $PYTHON_VERSION
    - name: Sort entries
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python sort.py
        if [[ `git status --porcelain` ]]; then
          git commit -a -m "Sort entries"
          git push
        fi
