name: CI
on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.**'
      - 'README.md'
      - 'LICENSE'
jobs:
  validate-mappings:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: 3.10
    - name: Download schema
      run: wget -O custom_mappings_schema.json https://raw.githubusercontent.com/RickDB/PlexAniSync/master/custom_mappings_schema.json
    - name: Validate mappings
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        python validate.py
